{% load static %}
{% load tz %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Chats</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'imgs/logo.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- Swiper CSS -->
        <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'css/style12.css' %}"> -->
        <link rel="stylesheet" href="{% static 'css/style28.css' %}">
    </head>
<body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand d-flex justify-content-center align-items-center" to='' href="{% url 'index' %}">
        
                <img src="{% static 'imgs/logo.png' %}" alt="logo" />
                <h1 class="m-0">Vet<span>Hub</span></h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent" style="text-align: center;">
                
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ng-star-inserted">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
            
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            {% csrf_token %}
                            {% for group_for in request.user.groups.all %}
                                {% if group_for.name == 'Doctors' %}
                                    <a class="nav-link active" href="{% url 'chats' %}" >Chats</a>
                                {% elif group_for.name == 'Customers' %}
                                    <a class="nav-link active" href="{% url 'chats' %}" >Chats</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </li>
            
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            {% csrf_token %}
                            {% for group_for in request.user.groups.all %}
                                {% if group_for.name == 'Doctors' %}
                                    <a class="nav-link" href="{% url 'edit_doctor' request.user.id%}" >Profile</a>
                                {% elif group_for.name == 'Customers' %}
                                    <a class="nav-link" href="{% url 'edit_customer' request.user.id%}" >Profile</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </li>

                    <li class="nav-item">

                    {% if request.user.is_authenticated %}
                        {% csrf_token %}
                        {% for group_for in request.user.groups.all %}
                            {% if group_for.name == 'Admins' %}
                                <a class="nav-link" href="{% url 'admin_panel' %}" >Admin Panel</a>
                            {% elif group_for.name == 'Doctors' %}
                                <a class="nav-link" href="{% url 'clinic_management_system' %}" >Clinic Management System</a>
                            {% elif group_for.name == 'Customers' %}
                                <a class="nav-link" href="{% url 'customer_previous_appointments' %}" >Appointments</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                        
                    </li>
            
                </ul>
        
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 justify-content-center align-items-center gap-2">
        
                    <li class='nav-item position-relative'>
                        <div class="flag"  style="display:none;">
                            <!-- <img src="" alt=""> -->
                            <svg width="60" height="35" viewBox="0 0 60 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="60" height="35" rx="6" fill="#F7FAF8"/>
                                <rect x="3.5" y="3" width="53" height="29" fill="#FAFAFA"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M56.5 28.5326V22.2282H44.9934L56.5 28.5326Z" fill="#012169"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M42.5526 22.2283L56.5 29.7935L56.5 32L38.3684 22.2283H42.5526Z" fill="#C8102E"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M35.2303 32H50.2237L35.2303 23.8043V32Z" fill="#012169"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.7697 32H10.125L24.7697 23.8043L24.7697 32Z" fill="#012169"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.7697 22.2283L7.475 32L3.5 32L21.1434 22.2283H24.7697Z" fill="#C8102E"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 28.5326V22.2282H15.0066L3.5 28.5326Z" fill="#012169"/>
                                <rect x="3.5" y="14.6631" width="53" height="5.67391" fill="#C8102E"/>
                                <rect x="26.8618" y="3" width="6.27632" height="29" fill="#C8102E"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M56.5 6.46741V12.7718H44.9934L56.5 6.46741Z" fill="#012169"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M35.2303 12.7717L52.525 3L56.5 3L38.8566 12.7717H35.2303Z" fill="#C8102E"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M35.2303 3H49.875L35.2303 11.1957L35.2303 3Z" fill="#012169"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.7697 3H9.77632L24.7697 11.1957V3Z" fill="#012169"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4474 12.7717L3.5 5.20652L3.5 3L21.6316 12.7717H17.4474Z" fill="#C8102E"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 6.46741V12.7718H15.0066L3.5 6.46741Z" fill="#012169"/>
                                <rect class="flagHover" x="3.5" y="3" width="53" height="29" fill="black" fill-opacity="0.16"/>
                                </svg>
                                
                        </div>
                    </li>

                    {% if not request.user.is_authenticated %}

                        <li class="nav-item ng-star-inserted cursorPointer">
                            <a href="{% url 'signup' %}" class="nav-link logout fw-bolder">SignUp</a>
                        </li>
                        <li class="nav-item ng-star-inserted cursorPointer">
                            <a href="{% url 'login' %}" class="nav-link logout fw-bolder">Login</a>
                        </li>

                    {%else%}
                        <li class="nav-item ng-star-inserted cursorPointer">
                            <button class="nav-link logout fw-bolder"  type="button" class="btn delete mx-2" data-bs-toggle="modal" data-bs-target="#staticBackdroptwo">Logout</button>
                        </li>
                    {% endif %}
                    
                </ul>
        
            </div>
        </div>
    </nav>
    


    <!-- Chats -->
    <div class="vh-100 chats">
            <div class="container">
                <div class="chatsBody m-auto">
                    <h1>My Chats</h1>
                    <div class="allChats" id="chats">

                        {% for group_for in request.user.groups.all %}
                            {% if group_for.name == 'Doctors' %}
                                {% for chat in chats %}

                                    <a href="{% url 'chat_details' chat.customer.user.id %}" class="chat d-flex mb-3">
                                        <img src="{% static 'imgs/Avatar.png' %}" alt="Doctor Photo">
                                        <div class="d-flex flex-column justify-content-between">
                                            <h2>{{ chat.customer.user.name }}</h2>

                                            {% if chat.last_msg_seen%}
                                                <p>{{ chat.last_msg }}</p>
                                            {%else%}
                                                <p class="nonSeen">{{ chat.last_msg }}</p>
                                            {%endif%}

                                        </div>

                                        <div class="time">
                                            <h4>{{ chat.last_msg_time|timezone:"Africa/Cairo"|date:"j/n/Y" }}</h4>
                                            <h4>{{ chat.last_msg_time|timezone:"Africa/Cairo"|time:"g:i A" }}</h4>
                                        </div>
                                    </a>

                                {% endfor %}
                        
                            {% elif group_for.name == 'Customers' %}
                                {% for chat in chats %}

                                    <a href="{% url 'chat_details' chat.doctor.user.id %}" class="chat d-flex mb-3">
                                        <img src="{{ chat.doctor.profile_photo.url }}" alt="{{ doctor.user.name }}">
                                        <div class="d-flex flex-column justify-content-between">
                                            <h2>Dr {{ chat.doctor.user.name }}</h2>
                                            
                                            {% if chat.last_msg_seen%}
                                                <p>{{ chat.last_msg }}</p>
                                            {%else%}
                                                <p class="nonSeen">{{ chat.last_msg }}</p>
                                            {%endif%}
                                        </div>

                                        <div class="time">
                                            <h4>{{ chat.last_msg_time|timezone:"Africa/Cairo"|date:"j/n/Y" }}</h4>
                                            <h4>{{ chat.last_msg_time|timezone:"Africa/Cairo"|time:"g:i A" }}</h4>
                                        </div>
                                    </a>

                                {% endfor %}
                            {% endif %}

                        {% endfor %}
                        
                    </div>
                </div>
            </div>
    </div>


    <!-- Massage Confirmation -->
    <div class="modal fade" id="staticBackdroptwo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Logout Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2>Are you sure you want to logout your account?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form action="{% url 'logout'  %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn Delete-btn" style="background-color: #019874d0;">Logout</button>
                </form>
            </div>
            </div>
        </div>

        <div class="w-100 modal-father"></div>
    </div>
    
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Swiper JS -->
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/index15.js' %}"></script>
    <script>
        var allChats = document.querySelector('.chats .chatsBody .allChats');
        var chats = allChats.querySelectorAll('.chat');
        if (chats.length <= 3) {
            allChats.classList.add('hide-scrollbar');
        } else {
            allChats.classList.remove('hide-scrollbar');
        }
    </script>
</body>
</html>
