{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Profile</title>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'imgs/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/style20.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/style24.css' %}">

</head>
<body>
    
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand d-flex justify-content-center align-items-center" to='' href="{% url 'index' %}">
        
                <img src="{% static 'imgs/logo.png' %}" alt="logo" />
                <h1 class="m-0">Vet<span>Hub</span></h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent" style="text-align: center;">
                
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ng-star-inserted">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
            
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            {% csrf_token %}
                            {% for group_for in request.user.groups.all %}
                                {% if group_for.name == 'Doctors' %}
                                    <a class="nav-link" href="{% url 'chats' %}" >Chats</a>
                                {% elif group_for.name == 'Customers' %}
                                    <a class="nav-link" href="{% url 'chats' %}" >Chats</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </li>
            
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            {% csrf_token %}
                            {% for group_for in request.user.groups.all %}
                                {% if group_for.name == 'Doctors' %}
                                    <a class="nav-link active" href="{% url 'edit_doctor' request.user.id%}" >Profile</a>
                                {% elif group_for.name == 'Customers' %}
                                    <a class="nav-link active" href="{% url 'edit_customer' request.user.id%}" >Profile</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </li>

                    <li class="nav-item">

                    {% if request.user.is_authenticated %}
                        {% csrf_token %}
                        {% for group_for in request.user.groups.all %}
                            {% if group_for.name == 'Admins' %}
                                <a class="nav-link" href="{% url 'admin_panel' %}" >Admin Panel</a>
                            {% elif group_for.name == 'Doctors' %}
                                <a class="nav-link" href="{% url 'clinic_management_system' %}" >Clinic Management System</a>
                            {% elif group_for.name == 'Customers' %}
                                <a class="nav-link" href="{% url 'customer_previous_appointments' %}" >Appointments</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                        
                    </li>
            
                </ul>
        
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 justify-content-center align-items-center gap-2">
        
                    <li class='nav-item position-relative'>
                        <div class="flag"  style="display:none;">
                            <!-- <img src="" alt=""> -->
                            <svg width="60" height="35" viewBox="0 0 60 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="60" height="35" rx="6" fill="#F7FAF8"/>
                                <rect x="3.5" y="3" width="53" height="29" fill="#FAFAFA"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M56.5 28.5326V22.2282H44.9934L56.5 28.5326Z" fill="#012169"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M42.5526 22.2283L56.5 29.7935L56.5 32L38.3684 22.2283H42.5526Z" fill="#C8102E"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M35.2303 32H50.2237L35.2303 23.8043V32Z" fill="#012169"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.7697 32H10.125L24.7697 23.8043L24.7697 32Z" fill="#012169"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.7697 22.2283L7.475 32L3.5 32L21.1434 22.2283H24.7697Z" fill="#C8102E"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 28.5326V22.2282H15.0066L3.5 28.5326Z" fill="#012169"/>
                                <rect x="3.5" y="14.6631" width="53" height="5.67391" fill="#C8102E"/>
                                <rect x="26.8618" y="3" width="6.27632" height="29" fill="#C8102E"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M56.5 6.46741V12.7718H44.9934L56.5 6.46741Z" fill="#012169"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M35.2303 12.7717L52.525 3L56.5 3L38.8566 12.7717H35.2303Z" fill="#C8102E"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M35.2303 3H49.875L35.2303 11.1957L35.2303 3Z" fill="#012169"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.7697 3H9.77632L24.7697 11.1957V3Z" fill="#012169"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4474 12.7717L3.5 5.20652L3.5 3L21.6316 12.7717H17.4474Z" fill="#C8102E"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 6.46741V12.7718H15.0066L3.5 6.46741Z" fill="#012169"/>
                                <rect class="flagHover" x="3.5" y="3" width="53" height="29" fill="black" fill-opacity="0.16"/>
                                </svg>
                                
                        </div>
                    </li>

                    {% if not request.user.is_authenticated %}

                        <li class="nav-item ng-star-inserted cursorPointer">
                            <a href="{% url 'signup' %}" class="nav-link logout fw-bolder">SignUp</a>
                        </li>
                        <li class="nav-item ng-star-inserted cursorPointer">
                            <a href="{% url 'login' %}" class="nav-link logout fw-bolder">Login</a>
                        </li>

                    {%else%}
                        <li class="nav-item ng-star-inserted cursorPointer">
                            <button class="nav-link logout fw-bolder"  type="button" class="btn delete mx-2" data-bs-toggle="modal" data-bs-target="#staticBackdroptwo">Logout</button>
                        </li>
                    {% endif %}
                    
                </ul>
        
            </div>
        </div>
    </nav>
    
    <!-- User Profile -->
    <section class="profile">
        <div class="background-image"> </div>

        <div class="Body">
            <div class="container">
                <div class="d-flex align-items-end">
                    <img src="{% static 'imgs/Avatar.png' %}" alt="Avatar" class="profileImage">
                    <div class="Name">
                        <h1>
                            {% if customer.name %}
                                {% with customer.name.split as names %}
                                    {{ names.0 }} {{ names|last  }}
                                {% endwith %}
                            {% endif %}
                        </h1>
                        <h3> <a href="{% url 'customer_previous_appointments' %}" style="text-decoration: none;color: #019874;">{{appointments_count}} Appointments</a> </h3>
                    </div>
                </div>
                <div class="Information m-auto"> 
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'success' %}
                                <!-- Success Alert -->
                                <div class="alert alert-success alert-dismissible d-flex align-items-center fade show">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                    </svg>
                                    <strong class="mx-2">Success!</strong> {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            {% elif message.tags == 'warning' %}
                                <!-- Warning Alert -->
                                <div class="alert alert-warning alert-dismissible d-flex align-items-center fade show">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                    </svg>
                                    <strong class="mx-2">Warning!</strong> {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            {% elif message.tags == 'info' %}
                                <!-- Info Alert -->
                                <div class="alert alert-info alert-dismissible d-flex align-items-center fade show">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                                    </svg>
                                    <strong class="mx-2">Info!</strong> {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            {% elif message.tags == 'error' %}
                                <!-- Error Alert -->
                                <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon-fill" viewBox="0 0 16 16">
                                        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                    </svg>
                                    <strong class="mx-2">Error!</strong> {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <h2>Personal details </h2>
                    <form id="update-form" method="POST" enctype="multipart/form-data" action="{% url 'edit_customer' customer.id %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label" for="FormCompleted">Name</label>
                                    <input type="text" value="{{customer.name}}" name="name" class="form-control" id="new-name">
                                    <input type="hidden" id="old-name" value="{{customer.name}}">
                                    <div id="name-error" style="color:red"></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label" for="FormCompleted">Mobile Number</label>
                                    <input type="text" class="form-control" value={{customer.phone_number}} name="phone_number" id="new-phone">
                                    <input type="hidden" id="old-number" value={{customer.phone_number}}>
                                    <div id="phone-error" style="color:red"></div>
                                </div>
                            </div>

                        </div>

                        <div class="d-flex justify-content-end py-3">
                            <button type="button" class="btn Delete-btn mx-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                <i class="fa-solid fa-trash-can"></i>
                                Delete account
                            </button>
                            <button id="update-button" type="button" onclick="update()" class="btn btn-save">Save Changes</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
    
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="d-flex justify-content-center align-items-start Footer">
                <div class="d-flex justify-content-center align-items-center twoSections">
                    <div class="sectionOne py-4">
                        <div class="logo d-flex align-items-center">
                            <img src="{% static 'imgs/logo.png' %}" alt="logo" />
                            <h1 class="m-0">Vet<span>Hub</span></h1>
                        </div>
                        <p>A website for booking veterinary doctors</p>
                        <section class="socialMedia">
                            <h3>Social Media</h3>
                            <section class="socialLinks d-flex justify-content-around align-items-center pt-2">
                                    <a href="https://www.facebook.com/"><img src="{% static 'imgs/facebook.png' %}" alt="facebook"></a>
                                    <a href="https://twitter.com/?lang=ar" ><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#"><img src="{% static 'imgs/Google.png' %}" alt="Google"></a>
                                    <a href="https://www.linkedin.com/"><img src="{% static 'imgs/linkedin.png' %}" alt="linkedin"></a>
                            </section>
                        </section>
                    </div>
                    <div class="sectionTwo py-4">
                        <h3>Your Pet is in safe hands</h3>
                        <p>VetHub website first and last goal is to obtain the best and fastest way to care for your pet</p>
                        <h3>Contact Us</h3>
                        <form class="d-flex justify-content-center align-items-center">
                            <input id='Massage' class='form-control' type="text" placeholder="Massage" />
                            <div class="px-2">
                                <button  type="submit" class='btn text-white'>Send</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
                <div class="sectionThree py-4">
                    <h3>Get in Touch</h3>
                    <section>
                        <i class="fa-solid fa-phone"></i>
                        <span>+201222222222</span>
                    </section>
                    <section>
                        <i class="fa-solid fa-envelope"></i>
                        <span>contact@example.com</span>
                    </section>
                </div>
            </div>
        </div>
    </footer>

    <!-- Massage Confirmation -->
    
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2>Are you sure you want delete your account?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'delete_account' request.user.id%}" class="btn Delete-btn">Delete</a>
            </div>
            </div>
        </div>

        <div class="w-100 modal-father"></div>
    </div>
    
    <!-- Massage Confirmation -->
    <div class="modal fade" id="staticBackdroptwo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Logout Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2>Are you sure you want to logout your account?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form action="{% url 'logout'  %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn Delete-btn" style="background-color: #019874d0;">Logout</button>
                </form>
            </div>
            </div>
        </div>

        <div class="w-100 modal-father"></div>
    </div>

    <script>

        // Add event listener for keydown event on window
        window.addEventListener("keydown", function(event) {
                // Check if the pressed key is Enter
                if (event.key === "Enter") {
                    // Execute your desired function here
                    update();
                }
            });

        function checkName(name){
            const onlyLettersRegex = /^[a-zA-Z\s]+$/;
            if (onlyLettersRegex.test(name) == false) {return ("Name Contains Invalid Characters");} 

            const atLeastTwoWordsRegex = /^[a-zA-Z]+(?:\s+[a-zA-Z]+)+$/;
            if (atLeastTwoWordsRegex.test(name) == false) {return ("Name Must Have at Least 2 Names");} 
            
            return true
        }

        function checkPhoneNumber(phoneNumber){
            const onlyLettersRegex = /01(0|1|2|5)[0-9]{8}$/;
            if (onlyLettersRegex.test(phoneNumber) == false) {return ("Phone Number Must Be in Format '01**********'");} 
            return true
        }
        
        function update(){
            allGood = true
            document.getElementById("phone-error").innerHTML = ""
            document.getElementById("name-error").innerHTML = ""
            var oldName = document.getElementById("old-name").value
            var oldPhone = document.getElementById("old-number").value

            var newName = document.getElementById("new-name").value
            var newPhone = document.getElementById("new-phone").value

            if(checkName(newName) != true){
                    document.getElementById("name-error").innerHTML = checkName(newName)
                    allGood = false
                }

            if(checkPhoneNumber(newPhone) != true){
                document.getElementById("phone-error").innerHTML = checkPhoneNumber(newPhone)
                allGood = false
            }

            if (oldName == newName && oldPhone == newPhone){
                allGood=false
            }
            else if (allGood == true) {
                document.getElementById("update-form").submit();
                return true
            }
            return false
        }

    
    </script>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Swiper JS -->
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/index15.js' %}"></script>
</body>
</html>