{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="shortcut icon" href="{% static 'imgs/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/style5.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/style21.css' %}">
</head>
<body>
    
    <div class="Authentication-page position-relative overflow-hidden w-100 d-flex justify-content-center align-items-center">
        <div class="container p-4">
            <div class="row">
                <section class="col-lg-8 offset-lg-2 col-sm-10 offset-sm-1 Section-2 sectionBorder p-3 d-flex flex-column justify-content-between">
                    <h3>Password Reset Confirm</h3>
                    <form id="change-password-form" class="mt-lg-4 mt-md-2" method="post">
                        {%csrf_token%}
                        <div class="pb-3">
                            <label for="Password">New Password : <span class=" text-danger">*</span></label>
                            <input class="form-control mt-2" type="password" id="Password" placeholder="Enter New Password" name="password">
                        </div>
                        <p id="password1-error" style="color:red"></p>
                        <div>
                            <label for="RePassword">New Password Confirmation : <span class=" text-danger">*</span></label>
                            <input class="form-control mt-2" type="password" id="RePassword" placeholder="Confirmation New Password">
                        </div>
                        <p id="password2-error" style="color:red"></p>
                        <p id="error" style="color:red"></p>
                        <div class='d-flex justify-content-center align-items-center mt-4'>
                            <button  type="button" onclick="change_password()" class='btn bg-success text-white'>Reset Password</button>
                        </div>
            
                    </form>
                </section>
            </div>
            
        </div>

        
    </div>

    <!-- <script src="js/all.min.js"></script> -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        function checkPassword(password){
            const passwordRegex = /^(?=.*[!@#$%^&*])(?=.*\d)(?=.*[A-Z]).{8,}$/;
            if (passwordRegex.test(password) == false) {return ("Password Not Valid; it must be at least 8 characters with 1 number, 1 {@,$,?,!,.} and 1 capital letter");} 
            return true
        }

        function change_password(){
            var allGood = true
            document.getElementById("password1-error").innerHTML = ""
            document.getElementById("password2-error").innerHTML = ""
            document.getElementById("error").innerHTML = ""
            var password1 = document.getElementById("Password").value
            var password2 = document.getElementById("RePassword").value

            if (password1 =="" || password2 == ""){
                document.getElementById("error").innerHTML = "Please Fill All Fields"
                allGood = false
            }

            if(checkPassword(password1) != true){
                document.getElementById("password1-error").innerHTML = checkPassword(password1)
                allGood = false
            }

            if(password1 !== password2){
                document.getElementById("password2-error").innerHTML = "Password1 and Password2 dosn't Match"
                allGood = false
            }

            if(allGood == true){
                document.getElementById("change-password-form").submit()
            }
        }
    </script>
</body>
</html>

